body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

.title {
  font-family: "Amatic SC", cursive;
  font-size: 50px;
  text-align: center;
}

.subtitle {
  font-size: 30px;
  font-weight: 900;
}

.num-of-page {
  display: block;
  width: 50px;
  height: 18px;
  text-align: right;
}

.list {
  position: relative;
  margin-left: auto;
  max-width: 540px;
  margin-top: 31px;
  font-family: "Times New Roman", Times, serif;
}

.list li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.list li:not(:first-child) {
  margin-top: 20px;
}

.short-list-contents {
  counter-reset: count;
}

.short-list-contents .item::before {
  position: absolute;
  content: counter(count);
  counter-increment: count;
  left: -2.5em;
}

.short-list-contents .no-count::before {
  display: none;
}

.header .container {
  padding-bottom: 0;
}

.header .title {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  font-style: italic;
}

.main-content .container {
  padding-top: 20px;
}

.main-content .title {
  font-size: 32px;
  text-align: left;
}

.authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about-author {
  padding: 15px;
}

.about-author__img {
  width: 40vw;
  height: auto;
}

.about-author__text {
  margin-top: 40px;
  text-align: justify;
  width: 40vw;
}

.real-contents {
  max-width: 800px;
  margin-left: auto;
  margin-top: 21px;
}

.real-contents .text {
  margin-top: 18px;
  line-height: 1.4;
}

.real-contents .real-list-contents .item:not(:first-child) {
  margin-top: 10px;
}

.real-contents .real-list-contents {
  max-width: 600px;
  list-style: none;
}

.page-footer .container {
  padding-top: 0;
}

.page {
  font-size: 20px;
  font-weight: 700;
  text-align: right;
}

@-webkit-keyframes pop {
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes pop {
  50% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.about-author__img:hover {
  -webkit-animation-name: pop;
  animation-name: pop;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@supports (display: grid) {
  .authors {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 22px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 22px;
  }
}

@media screen and (max-width: 768px) {
  @supports (display: grid) {
    .authors {
      grid-gap: 22px;
    }
  }
}

@media screen and (max-width: 500px) {
  @supports (display: grid) {
    .authors {
      -ms-grid-columns: initial;
      grid-template-columns: initial;
    }
  }
  .authors {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .about-author__img {
    width: 85vw;
    height: auto;
    margin: 0 auto;
  }
  .about-author__text {
    width: 85vw;
    margin: 0 auto;
  }
}
